{% extends 'masonry/base_masonry.html' %}

{% block intro %}
<h3><a href="/masonry/with-gutter" id="masonryLink1" title="masonry-with-gutter.html">With
        Gutter</a></h3>
<h3 title="Bordered Masonry">Bordered</h3>
<h3><a href="/masonry/gutterless" id="masonryLink2" title="Gutterless masonry">Gutterless</a>
</h3>
{% endblock %}

{% block content %}
<div class="masonry bordered">
    {%for i in images%}
    <div class="brick">
        <img src="{{url_for('serve_image', folder=path, filename=i)}}" alt="{{i}}" title="{{i}}">
    </div>
    {%endfor%}
</div><!-- .masonry -->
{% endblock %}