<!DOCTYPE html>
<header>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
</header>

<body class="body">
    <h1>Welcome!</h1>
    <h3>Please Login or <a href="/register">Register</a></h3>
    <p style="color:{{color}};">{{message}}</p>
    <form action="/" method="post">
        <label>Username</label>
        <br />
        <input type="text" id="username" name="username" placeholder="Username" />
        <br /><br />
        <label>Password</label>
        <br />
        <input type="password" id="password" name="password" placeholder="Password" />
        <br /><br />
        <input type="submit">
    </form>
</body>